pandas==2.1.0
hydra-core==1.3.2
joblib==1.3.2
numpy==1.25.2
omegaconf==2.3.0
packaging==23.1
pip==23.2.1
PyYAML==6.0.1
scikit-learn==1.3.0
scipy==1.10.1
setuptools==68.2.0
mypy==1.5.1
matplotlib==3.7.2
seaborn
scrapy==2.10.1
python-decouple==3.8
prefect~=2.13.0
requests~=2.31.0
celery~=5.3.4
flower==2.0.1
uvicorn==0.23.2

# -e . # use it to prepare installation package of the project


